body {
  display: flex;
  background-color: #f4f4f4;
  color: #11999e;
  justify-items: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
}

body .home-btn {
  padding: 5px;
  cursor: pointer;
  border: none;
}

nav .link-home {
  margin: 0 2rem;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 8px;
  background-color: #d9d9d9;
  color: #000000;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}
nav .link-home:hover {
  background-color: #6decb9;
}
.icon {
  justify-content: center;
  flex-direction: row;
  width: 80px;
  align-items: center;
  color: black;
  display: flex;
}
