.trainer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
  }
  
  .button-trainer {
    background-color: #6decb9;
  }
  .card-trainer {
    display: flex;
    flex-direction: row;
    height: 80hv;
    background-color: #6decb9;
    width: 370px;
    height: 220px;
    border-radius: 20px;
    margin: 25px 0 25px;
  }
  .information-user-section
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
  }
  .information-user
  { 
    text-align: center;
  }
  .buttons button{
    margin: 10px;
  }
  
  .button-update-trainer {
    background-color: green;
    color: #d9d9d9;
    border: 2px solid transparent;
    
  }
  
  .button-delete-trainer {
    background-color: red;
    color: #d9d9d9;
    border: 2px solid transparent;
  }
  
  @media only screen and (min-width: 1440px) {
    .trainer-container-card {
      display: grid;
  
      grid-template-columns: 1fr 1fr 1fr ; 
      gap: 20px;
    }
    
  }