.activity-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .button-activity-light {
    background-color: #6decb9;
  }
  .button-activity-dark {
    background-color: #11999e;
  }
  .buttons button{
    margin: 10px;
  }
  
  .button-update-activity-act {
    background-color: green;
    color: #d9d9d9;
    border: 2px solid transparent;
    
  }
  
  .button-delete-activity-act {
    background-color: red;
    color: #d9d9d9;
    border: 2px solid transparent;
  }