.reserve-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    min-height: 80vh;
}

.reserve-section p{
    font-size: 1.5rem;
    justify-content: center;
}

@media only screen and (min-width: 1440px) {
    .reserve-container-card {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr ; 
      gap: 20px;
    }
    
  }