
.card-gymclass-light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 80hv;
    background-color: #6decb9;
    width: 370px;
    min-height: 220px;
    border-radius: 20px;
    margin: 25px 0 25px;
    color: black;
  }
  .card-gymclass-dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 80hv;
    background-color: #11999e;
    width: 370px;
    min-height: 220px;
    border-radius: 20px;
    margin: 25px 0 25px;
    color: black;
  }

  .buttons button{
    margin: 10px;
  }
  
  .button-update-entity {
    background-color: green;
    color: #d9d9d9;
    border: 2px solid transparent;
    
  }
  
  .button-delete-entity {
    background-color: red;
    color: #d9d9d9;
    border: 2px solid transparent;
  }