.card-gymclass {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.25em;
    margin-bottom: 10px;
}

.card-subtitle {
    font-size: 1em;
    color: #888;
}

.card-text {
    margin-bottom: 15px;
}