  .card-left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 0.5em;
    
  }
 
  .icon-user
  { display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    font-size:  90px;
  }
  .client-active{
    width: 150px;
    margin-top: 20px;
  }

  .information-trainer-section
  {
    border-left: 3px solid black; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
  }
  .information-trainer
  { 
    margin-top: 10px;
    text-align: center;
  }
  .activities-trainer-light{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .activities-trainer-dark{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
  }
  .activities-trainer .activity-trainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #11999E;
    width: 100px;
    padding: 10px;
    border-radius: 15px;
    color: white;
  }
  .activities-trainer p {
    text-align: center;
    width: 150px;
  }

  .buttons button{
    margin: 10px;
  }
  
  .button-update-entity {
    background-color: green;
    color: #d9d9d9;
    border: 2px solid transparent;
    
  }
  
  .button-delete-entity {
    background-color: red;
    color: #d9d9d9;
    border: 2px solid transparent;
  }