:root {
    --background-color: #d9d9d9;
    --text-color: black;
  }
  
  [data-theme="dark"] {
    --background-color: #222831;
    --text-color: white;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
  }